#root {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* Home - Basemap */

.home .basemap {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* Home - Select Basemap */

.home .selectbasemap {
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 9;
}

.home .selectbasemap .minimap {
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.home .selectbasemap .minimap .leaflet-container {
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0px 0px 5px #fff;
}

.home .selectbasemap .minimap {
  display: inline-block;
  padding-left: 20px;
}

.home .selectbasemap .minimap.hide {
  visibility: hidden;
}

.home .selectbasemap:hover .minimap.hide {
  visibility: visible;
}

.home .selectbasemap .minimap .leaflet-control-attribution {
  display: none;
}

/* Home - Header */

.home .header {
  position: fixed;
  left: 30px;
  top: 30px;
  z-index: 9;
}

.home .header .loading-logo {
  width: 300px;
  max-width: 70%;
}

/* Home - About */

.home .about {
  z-index: 9;
  position: fixed;
  right: 0px;
  top: 30px;
  cursor: pointer;
}

.home .about .about-title {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 15px;
}

.home .about .about-body {
  width: calc(100vw - 40px);
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px 35px;
  top: 40px;
  box-sizing: border-box;
  max-height: calc(100vh - 210px);
  overflow: auto;
}

.home .about .about-body .about-image {
  max-width: 100%;
  max-width: 600px;
}

/* Home - Time Selector */

.home .timeselector {
  position: fixed;
  bottom: 20px;
  z-index: 1;
  width: 100vw;
  height: 60px;
  cursor: pointer;
}

.home .timeselector .gradient {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 250px;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  pointer-events: none;
  z-index: -1;
}

.home .timeselector .xaxis {
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.home .timeselector .xaxis .domain {
  stroke-width: 0;
}

/* Basemap Leaflet */

.leaflet-zoom-animated {
  cursor: move;
}

/* CSS Functions */

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
