#root {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* Home */

.home {
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

/* Home - Menu */

.home .menu {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}

.home .menu.open {
  width: 408px;
}

.home .menu.closed {
  width: 10px;
}

.home .menu .boundary {
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(25, 25, 25, 0.4),
    rgba(0, 0, 0, 0)
  );
  width: 15px;
  position: absolute;
  right: -15px;
}

/* Home - Map */

.home .main {
  right: 0;
  top: 0;
  position: fixed;
  height: 100%;
}

.home .main.open {
  width: calc(100% - 408px);
}

.home .main.closed {
  width: calc(100% - 10px);
}

.home .main .basemap {
  position: fixed;
  height: calc(100% - 80px);
  width: 100%;
}

/* Home - Select Basemap */

.home .selectbasemap {
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 9;
}

.home .selectbasemap .minimap {
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.home .selectbasemap .minimap .leaflet-container {
  border-radius: 20px;
  border: 1px solid white;
  box-shadow: 0px 0px 5px #fff;
}

.home .selectbasemap .minimap {
  display: inline-block;
  padding-left: 20px;
}

.home .selectbasemap .minimap.hide {
  visibility: hidden;
}

.home .selectbasemap:hover .minimap.hide {
  visibility: visible;
}

.home .selectbasemap .minimap .leaflet-control-attribution {
  display: none;
}

/* Home - Time Selector */

.home .timeselector {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px 20px 0 20px;
}

.home .timeselector .datevalue {
  color: white;
  position: absolute;
  top: -35px;
  font-size: 26px;
  left: 10px;
}

.home .timeselector .xaxis {
  font-size: 15px;
  color: rgb(25, 51, 73);
  font-weight: bold;
}

.home .timeselector .xaxis .domain {
  stroke-width: 0;
}

@media screen and (max-width: 500px) {
  .home .timeselector .datevalue {
    font-size: 22px;
  }
}

/* Home - Loading */

.home .loading {
  display: none;
  position: absolute;
  bottom: 100px;
  left: 10px;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  border-top: 4px solid white;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Basemap Leaflet */

.leaflet-zoom-animated {
  cursor: move;
}

/* CSS Functions */

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
